<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="wrapper">
      <% include ../admin/common/head %>
      <section class="main">
        <% include ../admin/common/navigation %>
        <main class="content">
          <div class="inner">
           文章列表 <a href="../dashboard/article/edit" class="btn btn-primary">新增文章</a>
            <table id="table"></table>
          </div>
        </main>
      </section>
    </div>
  </body>
  <script src="../js/plugin/jquery191.js"></script>
  <script src="../js/plugin/bootstrap.min.js"></script>
  <link rel='stylesheet' href='../js/plugin/bootstrap-table/bootstrap-table.css' />
  <script src="../js/plugin/bootstrap-table/bootstrap-table.js"></script>
  <script src="../js/plugin/bootstrap-table/bootstrap-table-locale-all.js"></script>
  <script>
    var $table = $('#table'),
            $remove = $('#remove'),
            selections = [];

    function initTable() {
      $table.bootstrapTable({
        url: 'http://issues.wenzhixin.net.cn/examples/bootstrap_table/data',
//        height: getHeight(),
        columns: [{
          field: 'id',
          title: 'Item ID'
        }, {
          field: 'name',
          title: 'Item Name'
        }, {
          field: 'price',
          title: 'Item Price'
        }],
        pagination:true,
        sidePagination:'server',
//        paginationLoop:true,
        pageList:[10,15,20,50],
        locale:'zh-CN',
//        ajax: function () {
//
//        }
      });
    }
    $(function () {
      initTable();
    });
  </script>
</html>
