<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="brand">Koabs</h1>
        <nav class="toolbar">
          <ul class="list">
            <li><a href="">姓名</a></li>
            <li><a href="">退出</a></li>
          </ul>
        </nav>
      </header>
      <section class="main">
        <aside class="sidebar">
          <nav class="b-menu">
            <ul class="list">
              <li class="title">菜单</li>
              <li><a href="">仪表盘</a></li>
              <li><a href="">首页</a></li>
              <li><a href="">文章</a></li>
              <li><a href="">数据统计</a></li>
            </ul>
          </nav>
        </aside>
        <main class="content">
          <div class="inner">
            <div class="heading"><h1 data-v-73ecd414="" class="title">仪表盘</h1></div>
            <div class="jumbotron"><h2 data-v-73ecd414="">Hello, world!</h2>
              <p >Coming soon...</p></div>
          </div>
        </main>
      </section>
    </div>
  </body>
</html>
