<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
  </head>
  <body>
    <div class="wrapper">
      <% include ../admin/common/head %>
      <section class="main">
        <% include ../admin/common/navigation %>
        <main class="content">
          <div class="inner">
            <div class="heading"><h1 data-v-73ecd414="" class="title">仪表盘</h1></div>
            <div class="jumbotron"><h2 data-v-73ecd414="">Hello, world!</h2>
              <p >Coming soon...</p></div>
          </div>
        </main>
      </section>
    </div>
  </body>
</html>
