<!doctype html>
<html lang="en">
<%-include("./common/head",{seo:seo})%>
<body>
<% include ./common/menu %>
<div class="main">
    <content>
    <h2>简介</h2>
    <p>
        Name:白开水<br>
        喜欢研究技术，并用技术做一些有意思的事。希望有一天能做一个给很多用户提供价值的产品.<br>
        <p>
        每个人心中都有一个改变世界的梦想，但这个世界诱惑太多使我们感到迷茫裹足不前。但生命不止奋斗不息，只渴望在某一天找到属于自己的辉煌遇到阳光璨烂的那个她！
        </p>
    </p>

    <h2>技能</h2>
    <p>
        Language: Java, Javascript<br>
        Javascript相关: Jquery,AngularJS,Node.js,Easyui<br>
        JAVAEE: Spring, Spring MVC, Mybatis, Shiro, Activiti<br>
        Android: EventBus<br>
        缓存&&队列: Redis, RabbitMQ<br>
        DB: Mysql, MongoDB<br>
    </p>

    <h2>展望</h2>
    <p>
        现在:<br>
        目前主要学习和从事Android，和HTML5 的前端开发工作,并做过部分的后台开发。<br>
        短期:<br>
        学习和实践Rest风格的前后端分离,并在Android领域做到精通.<br>
        长期:<br>
        希望能有机会 接触到大数据分析数据挖掘方面的项目.<br>
    </p>
    <h2>联系我</h2>
    <p>
        Email:  koabs#foxmail.com<br>
        Github: <a href="https://github.com/koabs" target="_blank">https://github.com/koabs</a><br>
        知乎:    <a href="http://www.zhihu.com/people/koabs" target="_blank">http://www.zhihu.com/people/koabs</a>
    </p>
</content>
</div>
<% include ./common/footer %>
</body>
</html>