
<!doctype html>
<html lang="en">
<%-include("./common/head",{seo:seo})%>
<body>
<% include ./common/menu %>
<div class="main">
    <content>
    <ul>
        <li><a href="https://github.com/koabs/KoabsScaffold" target="_blank">KoabsScaffold(JAVAEE开发脚手架)</a></li>
    </ul>
    </content>
</div>
<% include ./common/footer %>
</body>
</html>


