
<!doctype html>
<html lang="en">
<%-include("./common/head",{seo:seo})%>
<body>
<% include ./common/menu %>
<div class="main">
    <content>
    <ul>
       文章详情
    </ul>
    </content>
</div>
<% include ./common/footer %>
</body>
</html>


