<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
  </head>
  <body>
  <div class="bk-u-1-1 menu">
    <div class="bk-menu bk-menu-horizontal wrap">
      <ul class="bk-menu-logo">
        <li><a href="/">Koabs Peng</a></li>
        <li class="bk-menu-tag">/*好奇心 && 专注*/</li>
      </ul>

      <ul class="bk-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/tag">标签</a></li>
        <li><a href="/tools">小玩意</a></li>
        <li><a href="/works">知识拓展</a></li>
        <li><a href="/about">关于我</a></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="article">
      <ul>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>jin手机号可视对讲阿克苏达克赛德哈肯定会卡死过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <tag>[生活]</tag>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <i class="icon-icon_book"></i><span>生活</span>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <i class="icon-icon_book"></i><span>生活</span>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <i class="icon-icon_book"></i><span>生活</span>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <i class="icon-icon_book"></i><span>生活</span>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <i class="icon-icon_book"></i><span>生活</span>
            </div>
          </div>
        </li>
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/">新年计划</a></div>
            <div class="article-content">
              <p>过年</p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span>2017-04-10</span>
              <i class="icon-icon_book"></i><span>23</span>
              <tag>[生活]</tag>
            </div>
          </div>
        </li>
      </ul>
      <div class="nav">
        导航条
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="logo"></div>
    <div>白开水的朋友们：##/####/##</div>
  </footer>
  </body>
</html>
