
<!doctype html>
<html lang="en">
<% include ./common/head %>
<body>
<% include ./common/menu %>
<div class="main">
    <h2>Html</h2>
    <ul>
        <li><a href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰的网络日志</a></li>
        <li><a href="http://www.cnblogs.com/yexiaochai/p/4193447.html#!comments" target="_blank">叶小钗</a></li>
    </ul>
    <h2>Android</h2>
    <ul>
        <li><a href="http://www.trinea.cn" target="_blank">Trinea</a></li>
        <li><a href="http://www.devtf.cn" target="_blank">开发技术前线</a></li>
        <li><a href="https://github.com/bboyfeiyu/android-tech-frontier" target="_blank">android-tech-frontier</a></li>
        <li><a href="http://www.stormzhang.com" target="_blank">stromzhang</a></li>
        <li><a href="http://blog.jobbole.com/category/android/" target="_blank">伯乐在线</a></li>
    </ul>
    <h2>Java</h2>
    <ul>

        <li><a href="http://www.jdon.com" target="_blank">解道</a></li>
        <li><a href="http://coolshell.cn/haoel" target="_blank">酷壳</a></li>
        <li><a href="http://ifeve.com" target="_blank">并发编程</a></li>
        <li><a href="http://www.infoq.com/cn/" target="_blank">InfoQ</a></li>
        <li><a href="http://arccode.net/about/" target="_blank">arccode</a></li>
        <li><a href="http://jinnianshilongnian.iteye.com/blog/1594806" target="_blank">开涛的博客</a></li>

    </ul>
    <h2>JS</h2>
    <ul>
        <li><a href="http://doc.imbugs.com/nodejs/all.html" target="_blank">Node.js中文手册</a></li>
    </ul>
    <h2>Design</h2>
    <ul>
        <li><a href="http://colachan.com/categories" target="_blank">可乐橙</a></li>
    </ul>
</div>
<% include ./common/footer %>
</body>
</html>

