
<!doctype html>
<html lang="en">
<% include ./common/head %>
<body>
<% include ./common/menu %>
<div class="main">

    <ul>
        <li><a href="https://github.com/koabs/KoabsScaffold" target="_blank">KoabsScaffold(JAVAEE开发脚手架)</a></li>
    </ul>
</div>
<% include ./common/footer %>
</body>
</html>


